body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 980px;
    margin: 0 auto;
}

.menu {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.menu ul {
    margin: 0px;
    padding: 0px;
    background: rgb(3, 3, 255);
    list-style: none;
}

.menu ul li {
    padding-left: 10px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    display: inline-table;
    position: relative;
}

.menu ul li>a {
    color: white;
    text-decoration: none;
}

.menu ul li>a:hover {
    color: black;
    background: white;
}

.menu ul li>.menu_1 {
    position: absolute;
    display: none;
}

.menu ul li:hover .menu_1 {
    display: block;
}

.list {
    width: 300px;
    float: right;
}

.list a {
    height: 36px;
    line-height: 35px;
    text-decoration: none;
    display: block;
    background: rgb(80, 172, 80);
    color: white;
    padding: 5px;
    text-align: center;
}
.chuc_tet{
    float: left;
}