.menu{
    margin: 0;
    padding: 0;
}
.menu > ul{
 list-style: none;
}
.menu > ul > li{
    width: 120px;
    height: 30px;
    line-height: 30px;
    display: inline-table;
    color: white;
    background: rgb(46, 187, 77);
    color: white;
}
.menu > ul > li > a:hover {
    background: rgb(46, 187, 77);
    color: white;
}
.menu > ul > li .menu_1{
    display: none;
}
.menu > ul > li:hover .menu_1{
    display: block;
}
a{
    text-decoration: none;
}
